.service{
    background: no-repeat center/cover;
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $gradient_service;
        pointer-events: none;
    }
    .service_slides{
        display: flex;
        align-items: baseline;
        min-height: 100vh;
        transition: .25s ease-in-out;
        > .service_slide{
            display: flex;
            position: relative;
            padding: 0 30px 40px;
            &:before{
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                opacity: .3;
                background-image: $gradient_service_border;
            }
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background-color: $primary;
                opacity: 0;
                transition: all .6s;
            }
            &:hover{
                &:after{
                    opacity: .1;
                }
            }
            > .item {
                align-self: flex-end;
                padding-bottom: 20px;
                min-height: 160px;
                > .title_icon {
                    display: flex;
                    > .number_title{
                        margin-left: 20px;
                        display: flex;
                        flex-direction: column;
                        > span {
                            opacity: .5;
                        }
                        > strong {
                            margin-top: 10px;
                            text-transform: capitalize;
                            font-family: 'Poppins Bold';
                        }
                    }
                }
                > p {
                    margin-top: 20px;
                    opacity: .5;
                    line-height: 1.8;
                }
            }
        }
    }
}
.swiper-pagination-bullet-active{
    background: transparent;
    border: 1px solid $primary;
}