$width_wrapper: 96vw;
$height_header: 84px;

$text_color: #ffffff;
$text_color2: #eeeeee;
$text_color3: #333333;
$primary: #e90041;
$gradient_service: linear-gradient(180deg,transparent 27%,#151812 87%);
$gradient_service_border: linear-gradient(180deg,transparent,$text_color);